h2 {
    color: red;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.doan1 {
    font-size: 16px;
    font-style: italic;
    color: white;
    background-color: blue;
    padding: 10px;
    line-height: 1.6;
}
.doan2 {
    font-size: 16px;
    font-style: italic;
    color: yellow;
    background-color: brown;
    padding: 10px;
    line-height:
