
h1 {
    color: blue;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    color: black;
    line-height: 1.6;
    margin: 5px 0;
}

.khung {
    background-color: pink;
    padding: 20px;
    width: 600px;
    margin: auto;
    border-radius: 8px;
}
