table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Times New Roman";
    font-size: 14px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

/* Ô Thứ / Buổi */
.thu-buoi {
    background-color: rgb(244, 232, 0);
    font-weight: bold;
}

/* Các ô Thứ */
.thu {
    background-color: #09b1c7;
    font-weight: bold;
}

/* Các ô Buổi */
.buoi {
    background-color: #ffe0b2;
    font-weight: bold;
}
