body {
    font-size: 13pt;
}


.truong, .khoa {
    text-align: center;
    font-weight: bold;
}

.chuongtrinh {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.nam1 {
    font-family: Verdana;
    color: black;
}

.nam2 {
    font-family: Tahoma;
    color: black;
}

.nam3 {
    font-family: "Times New Roman";
    color: black;
}

.thitotnghiep {
    font-family: Verdana;
    color: red;
}
