body {
    font-family: "Times New Roman";
    font-size: 14px;
    line-height: 1.6;
    background-color: rgb(245, 245, 141);
}

.tieude {
    text-align: center;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p {
    text-align: justify;
}
