body {
    font-family: Arial;
}

.container {
    width: 800px;
    margin: auto;
    border: 1px solid black;
    display: flex;
}

.menu {
    width: 200px;
    background-color: #0baa20;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #11c9f2;
}

.menu a:hover {
    background-color: #20b382;
}

.noidung {
    width: 600px;
    padding: 15px;
    background-color: #eee;
}
